@font-face {
    font-family: 'digital-7';
    src: url('Image&fonts/digital-7.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Image&fonts/endless-constellation.svg);
    font-family: 'digital-7', sans-serif;
    padding: 50px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.digitalclock,
.stopwatch {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.clock {
    margin-top: 20px;
    color: #fff;
    font-size: 100px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 10px #ffffff8c;
    cursor: default;
}

.js-midday {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    color: #ffffff3a;
}

.js-midday-light {
    color: #fff;
}

.js-select {
    color: #ffffff69;
    padding-left: 30px;
    font-size: 25px;
}

.js-selected {
    color: #fff;
    padding: 30px;
    font-size: 34px;
    text-decoration: underline;
}

.js-stopwatch-btn {
    width: 100px;
    height: 40px;
    color: #000;
    font-weight: bold;
    background-color: #ffffffce;
    border: none;
    border-radius: 40px;
    box-shadow: 1px 1px 10px #ffffff8c;
    cursor: pointer;
}

.js-stopwatch-element {
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.js-clicked {
    background-color: #ffffff77;
}

#digital-clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#full-date {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}