/* Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Chakra+Petch&family=Finger+Paint&display=swap');

* {
    font-family: "Chakra Petch";
    margin: 0;
    padding: 0;
}

#bg-video {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: opacity(60%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}

header {
    margin: 50px 0px 30px;
    font-size: 18px;
    color: #fff;
    text-shadow: 4px 4px 10px #fff;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #64215b67;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    background: transparent;
    box-shadow: 0px 0px 10px 1px #00000093;
}

.search {
    margin: 30px;
    align-items: center;
    justify-content: space-betweens;
}

.search-bar {
    width: 250px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px 1px #fff;
    font-weight: bold;
}

.search-btn {
    padding: 12px 14px;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: 0 0 10px 1px #fff;
    cursor: pointer;
}

.weather-update {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icon {
    width: 90px;
    height: 90px;
    filter: drop-shadow(1px 1px);
}

#temperature {
    font-size: 45px;
    color: #fff;
    text-shadow: 2px 2px 10px;
}

#location {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

#description {
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.other-updates {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cols {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#updates-icon {
    width: 30px;
    height: 40px;
}

#js-error,
#error-message {
    margin: 0px 20px;
    font-size: 20px;
    color: #e43158;
    text-shadow: 2px 2px 4px #000;
}

#js-server-error {
    margin: 0px 20px;
    color: #d64161;
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#statuscode {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 4px 4px 4px #000;
}

.js-weather {
    display: none;
}