body {
    font-family: 'Josefin Sans', Arial;
    margin: 0;
    background-image: url(Images/cornered-stairs.svg);
    background-size: cover;
    background-repeat: repeat;
    backdrop-filter: blur(2px);
}

header {
    color: darkorange;
    text-decoration: overline;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-family: inherit;
    background: none;
    margin: 8px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
}

p {
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.js-image-card {
    background-color: khaki;
    border: 1px solid black;
    border-radius: 80px;
    padding: 25px;
    width: 100px;
}

.js-result-img {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
}

.btn-reset,
.btn-autoplay {
    background-color: darkgreen;
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.js-rst-alert {
    font-size: 12px;
    margin: 0;
    border: none;
    padding: 7px 10px;
    margin-left: 5px;
}

.js-rst-yes {
    background-color: red;
}

.js-rst-no {
    background-color: darkgreen;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 2px 2px 5px #000;
    border-radius: 10px;
}

.match-result{
    font-size :2.5rem;
    margin-right: 6rem;
    margin-bottom: 10px;
    text-align: center;
}

.game-score{
    color: #fff;
    border-radius: 30px;
    margin: 3rem  0 0 0;
}

.game-score li{
    list-style: none;
    text-align: left;
}